<h1>Welcome to Bugger!</h1>
<br>
<h3>Please install this <a target="_blank" href="https://chrome.google.com/webstore/detail/bugger/ojehpjlolgcjmbbdppjphafikbpopkcl">Chrome extension</a> to submit bug reports.</h3>
<hr>
<h4>You'll need to configure the extension by right clicking the extension icon and clicking 'Options'</h4>
<h5>You'll then be prompted to insert the host and key provided by your administrator.</h5>