/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Styles the profile picture */
.profile-picture {
  border: solid 2px;
}

.label .label-primary {
  font-size: 0.9em;
  margin-bottom: 2px;
}

#banner {
  background-color: #3FC380;
  padding-bottom: 15px;
}

.navbar-brand {
  font-size: 1.8em;
}

.navbar .nav li a {
  font-size: 1.3em;
}

#container {
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  border-top-color: #bbbbbb;
}

body {
  padding-top: 90px;
}

.report-label {
  font-weight: bold;
  font-size: 1.3em;
}

.report-content {
  font-size: 1.2em;
}