 <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left" style="color: white">© 2018 - James Sherriff
      </p>
      <div style="padding-top: 10px">
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/James-Sherriff/bugger" data-size="large" aria-label="Star James-Sherriff/bugger on GitHub">Star</a>
      </div>
    </div>
  </div>